# Virtual environment
.venv/
__venv__/

# SQLite database
pantry.db

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# OS-specific
.DS_Store
Thumbs.db

# VSCode settings (optional)
.vscode/
