<li id="ingredient-{{ ingredient.id }}" class="ingredient-item">
    <div class="ingredient-display">
        <span>{{ ingredient.name }} - <strong>{{ '%.2f'|format(ingredient.quantity) }}</strong> {{ ingredient.base_unit }}</span>
        {% if show_edit_buttons %}
        <div>
            <button hx-get="/edit_ingredient_form/{{ ingredient.id }}" hx-target="#ingredient-{{ ingredient.id }}" hx-swap="innerHTML" class="edit-btn">
                Edit
            </button>
        </div>
        {% endif %}
    </div>
</li>
