<h1>Recipe Manager</h1>

<!-- Add New Meal Form -->
<div id="add-meal-container">
    <h2>Add New Meal</h2>
    <form hx-post="/add_meal" hx-target="#meals-list-container" hx-swap="innerHTML">
        <input type="text" name="meal_name" placeholder="New meal name..." required>
        <button type="submit" class="button-primary">Add Meal</button>
    </form>
</div>

<hr>

<!-- List of Meals -->
<div id="meals-list-container">
    {% include '_meals_list.html' %}
</div>

<div id="user-prompts"></div>
